
body {
	background-color: grey;
}

h1 {
	text-align: center;
}

nav {
	text-align: center;
	color: black;
	background-color: #A5ABAF;
	font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

nav a {
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	margin: 2em 1em 0 0;
	padding: 0 0 2em;
}

footer  {
	text-align: center;
	background-color: #A5ABAF;
	color: black;
}

footer a {
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	margin: 2em 1em 0 0;
	padding: 0 0 2em;
}

#hero_index {
	background-image: url("../images/telescope.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;
	min-height: 450px;
}

#hero_studio {
	background-image: url("../images/NGC6052.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 450px;
}

#hero_event {
	background-image: url("../images/southernCrabNebula.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 450px;
}

#hero_currency {
	background-image: url("../images/appearances.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 450px;
}

main {
	color: black;
	font-size: 1.25em;
}

header {
	font-size: 1.25em;
	font-weight: bold;
}

 .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

article h2{
    font-size: 120%;
    color: lightgray;
    text-align: left;
}

article {
    background-color: #928d90;
	font-size: 1.15em;
}

#container {
	margin: 0 auto;
	width: 75%;
	word-wrap: break-word;
}